body {
    margin: 0;
}

h1 {
    font-size: 8rem;
    text-align: center;
}

section {
    font-size: 1rem;
}

table,
th,
td {
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
}

.p1 {
    background-color: aqua;
    width: 100%;
}

.p2 {
    background-color: white;
    width: 100%;
}

.p3 {
    background-color: red;
    width: 100%;
}

footer {
    background-image: url('img/logo-iut.jpg');
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px auto;
    height: 110px;
}

@media screen and (max-width: 480px) {
    .p1,
    .p2,
    .p3 {
        width: 100%;
    }
    .mairie {
        width: 100%;
    }
    input {
        display: block;
        width: 100%;
        height: 25px;
    }
    tr {
        display: flex;
        flex-direction: column;
    }
    table {
        width: 100%;
    }
    h1 {
        font-size: 1.8rem;
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .p1,
    .p2,
    .p3 {
        display: block;
        margin: auto;
        width: 95%;
    }
    .mairie {
        width: 480px;
        display: block;
        margin: auto;
    }
    form {
        width: 95%;
        display: block;
        margin: auto;
    }
    tr {
        display: flex;
        flex-direction: column;
    }
    table {
        width: 80%;
        margin: auto;
    }
    h1 {
        font-size: 1.8rem;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .p1,
    .p2,
    .p3 {
        display: block;
        margin: auto;
        width: 80%;
    }
    .mairie {
        width: 480px;
        display: block;
        margin: auto;
    }
    form {
        width: 80%;
        display: block;
        margin: auto;
    }
    table {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 480px) and (-webkit-max-device-pixel-ration: 2) {}